@if $debug == true {

    $outline-elements: (
        section: red,
        cell: blue,
    );
    @each $class, $col in $outline-elements{
        
        .#{$class} {
            border: 1px solid $col;
        
        }
    }

    $background-elements: (
        // "grid-x": yellow,
    );
    @each $class, $col in $background-elements{
        
        .#{$class} {
            background: $col;
        
        }
    }

}