// barevnost

$custom-palette: (
    primary: get-color(primary),
    secondary: get-color(secondary),
    white: $white,
    black: $black,
    light-gray: $light-gray,
    medium-gray: $medium-gray,
    dark-gray: $dark-gray,
    dada-gray: #dadada,
    darkest-gray: #706f6f,
    blue: blue,
    mrkt: #ffcc00,
    mec: #009ee2,
    ne: #ececec,
    ssvh: #e5007e,
    begt: #aec90b,
    sod: #3c3c3b
);

@each $scope,$color in $custom-palette {
    .color-#{$scope}, 
    a.color-#{$scope} {
        color: $color;
        a {
            color: $color;
        }
    }
    .background-#{$scope} {
        background: $color;
    }
    .color-#{$scope}-accordion {
        color: $color !important;

    }
    .background-#{$scope}-accordion {
        background: $color !important;
    }
    ul.custom-square li.dot-#{$scope}:before {
        background:$color;
    }
    .border-color-#{$scope} {
        border-color: $color !important;
    }
}

// paddingy a marginy
$gutters: (
    base: (
        small: 30px,//map-get($grid-column-gutter,small),
        medium: 40px,//map-get($grid-column-gutter,medium),
        large: 50px,//map-get($grid-column-gutter,large),
    ),
    expandator:(
        small: 30px,
        medium:40px,
        large:80px,
        xlarge:100px,
        xxlarge: 150px,
    ),
    mimator:(
        small: 15px,
        medium:20px,
        large:40px,
        xlarge:50px,
        xxlarge: 75px,
    ),
    half: (
        small: 20px,//map-get($grid-column-gutter,small) / 2,
        medium: 30px,//map-get($grid-column-gutter,medium) / 2,
        large: 40px,//map-get($grid-column-gutter,large) / 2,
    ),
    quarter: (
        small: 10px,//map-get($grid-column-gutter,small) / 4,
        medium: 15px,//map-get($grid-column-gutter,medium) / 4,
        large: 20px,//map-get($grid-column-gutter,large) / 4,
    ),
    zero: (
        small: 0px,
        medium: 0px,
        large: 0px,
        xlarge: 0px,
    ),
    double: (
        small: 30px * 2,
        medium: 40px * 2,
        large: 50px * 2,
    ),
    triple: (
        small: 30px * 3,
        medium: 40px * 3,
        large: 50px * 3,
    ),
    paragraph: (
        small:10px,
    ),
    two-paragraphs: (
        small:20px
    ),
    alveda-heading: (
        overmedium:20px,
        large: 40px,
    ),
);
$sides: (top, right, bottom, left);
@each $scope, $vals in $gutters {
    @each $bp,$val in $vals {
        @media (min-width: map-get($breakpoints,$bp)) {
            .padding-#{$scope} {
                padding: $val;
            }
            .margin-#{$scope} {
                margin: $val;
            }
            .margin-#{$scope}-negative {
                margin: -$val;
            }
            @each $side in $sides {
                .padding-#{$scope}-#{$side} {
                    padding-#{$side}: $val;
                }
                .margin-#{$scope}-#{$side} {
                    margin-#{$side}: $val;
                }
                .margin-#{$scope}-#{$side}-negative {
                    margin-#{$side}: -$val;
                }
            }
            .padding-#{$scope}-horizontal {
                padding-left: $val;
                padding-right: $val;
            }
            .padding-#{$scope}-vertical {
                padding-top: $val;
                padding-bottom: $val;
            }
            .margin-#{$scope}-horizontal {
                margin-left: $val;
                margin-right: $val;
            }
            .margin-#{$scope}-horizontal-negative {
                margin-left: -$val;
                margin-right: -$val;
            }
            .margin-#{$scope}-vertical {
                margin-top: $val;
                margin-bottom: $val;
            }
        }
    }
}

// text transforms
$transforms:(uppercase);
@each $trans in $transforms {
    .text-transform-#{$trans} {
        text-transform: $trans;
    }
}
// text transforms
$transforms:(bold, normal);
@each $trans in $transforms {
    .font-weight-#{$trans} {
        font-weight: $trans;
    }
}

// positions
$positions:(absolute,relative);
@each $pos in $positions {
    .position-#{$pos} {
        position: $pos;
    }
}
// displays
$displays:(none, block, inline-block);
@each $dis in $displays {
    .display-#{$dis} {
        display: $dis;
    }
}

//
// Image utilities
// 

// 1. background image position utilities
$bgpos: (
    horizontal: (left, right, center),
    vertical: (top, bottom, center ),
);
@each $hor in map-get($bgpos,horizontal) {
    @each $ver in map-get($bgpos,vertical) {
        .bgpos-#{$ver}-#{$hor} {
            background-position: $ver $hor !important;
        }
    }
}

.bgpos-hall {
    background-position: center bottom !important;
}

// 2. responsive image utilities
.responsive-by-height {
    height:100%;
    width:auto;
}
.responsive-by-width {
    width:100%;
    height:auto;
}

// 3. velikost potzadí
$bgsizes:(cover, contain);
@each $siz in $bgsizes {
    .bgsize-#{$siz} {
        background-size: $siz;
    }
}

//
// Alignement utilities
// 
.center-content-vertically-using-flex {
    @media ( min-width:map-get($breakpoints,medium) ) {
        display:flex;
        align-items:center;
        height:100%;
        position:relative;
    }
    
}

.cursor-pointer {
    cursor: pointer;
}

.nullator {
    @media (max-width:map-get($breakpoints,intermedium)) {
        padding-bottom:0 !important;
    }
}