

// Image Background classes
$bg-styles:(
    cover: (
        small:(
            background-size: cover,
        ),
    ),
    contain: (
        small:(
            background-size: contain,
        ),
    ),
    align-bc: (
        small: (
            background-position: bottom center,
        ),
    ),
    align-tc: (
        small: (
            background-position: top center,
        ),
    ),
    align-cc: (
        small: (
            background-position: center center,
        ),
    ),
    align-tl: (
        small: (
            background-position: top left,
        ),
    ),
);
@each $scope, $values in $bg-styles {
    @each $bp,$vals in $values {
        @media (min-width: map-get($breakpoints,$bp)){
            .bg-style-#{$scope} {
                @each $param,$val in $vals {
                    #{$param}: #{$val};
                }
            }
        }
    }
}

// image styles
$img-styles:(
    fit-inside-vertical: (
        small:(
            max-height: 100% !important,
            //width:auto !important,
            height:100%,
            //max-width:none,
            //height:none,
        ),
    ),
    fit-inside-horizontal: (
        small:(
            max-width: 100% !important,
            height:auto !important,
        ),
    ),
);
@each $scope, $values in $img-styles {
    @each $bp,$vals in $values {
        @media (min-width: map-get($breakpoints,$bp)){
            .img-style-#{$scope} {
                @each $param,$val in $vals {
                    #{$param}: #{$val};
                }
            }
        }
    }
}


// styly písem
$font-styles: (
    heading-section: (
        small: (
            font-weight:800,
            font-style:normal,
            // display:inline-block,
            text-align:left,
            display:inline-block,
            line-height: 1.05em,
            font-size: 30px,
        ),
        medium: (
            font-size: 40px,
        ),
        large: (
            font-size: 50px,
        ),
    ),
    subheading: (
        small: (
            font-weight:800,
            font-style:normal,
            font-size: 20px,
            line-height: 1.05em,
        ),
        medium: (
            font-size: 22px,
        ),
        taxi: (
            font-size: 23px,
        ),
        xxlarge: (
            font-size: 25px,
        ),
        xxxlarge: (
            font-size: 26px,
        ),
        huge: (
            font-size: 30px,
        )
    ),
    quote: (
        small: (
            font-weight:800,
            // font-style:normal,
            // font-size: 20px,
            line-height: 1.1em,
        ),
        medium: (
            font-size: 18px,
            // line-height: 1.05em,
        ),
        large: (
            font-size: 25px,
        ),
    ),
    alveda: (
        small: (
            line-height: 1.05em,
            font-size: 30px,
            font-weight: $global-weight-bold,
            color: get-color(primary),
            
        ),
        medium: (
            font-size: 35px,
            // display:inline-block,
            

        ),
        taxi: (
            font-size: 45px,
            display: inline-block,
            margin-top: 10px,
            
        ),
        large: (
            font-size: 72px,
           
        ),
    ),
    alveda-heading: (
        small: (
            font-size: 25px,
            color: #878787,
            line-height: 1.05em,
            font-weight: $global-weight-bold,
        ),
        medium: (
            font-size: 30px
        ),
        taxi: (
            font-size: 40px
        ),
        large: (
            font-size: 50px
        ),
    ),
    padding-zleft: (
        taxi: (
            margin-left: 50px,
        ),
        xlarge: (
            margin-left: 100px,
        )
    ),
    bottom-underline: (
        small: (
            border-bottom-color: get-color(primary),
            border-bottom-style: solid,
            border-bottom-width: 2px
        ),
        medium: (
            border-bottom-width: 3px,
        ),
        taxi: (
            border-bottom-width: 4px,
        ),
        large: (
            border-bottom-width: 5px,
        )
    )
);

.font-style-heading-section:before {
    width: 100px;
    height: 10px;
    content:" ";
    display:block;
    position:relative;
    background:get-color(primary);
    top: -10px;
    left: 0;
}

@each $scope,$bps in $font-styles {
    .font-style-#{$scope} {
        @each $bp,$attrs in $bps {
            @media (min-width: map-get($breakpoints,$bp)) {
                @each $attr,$val in $attrs {
                    #{$attr}: $val;
                }
            }
            
        }
    }
}

// General overrides
body {
    $styles: (
        small:(
            line-height: 1.1em,
            font-size: 16px,
        ),
        medium:(
            font-size: 17px,
        ),
        xlarge:(
            font-size:18px,
            line-height: 1.1em,
        ),
    );
    @include expand-list($styles);
}