<!-- Služby -->
<section id="services" class="section section-mono bg-style-cover bg-style-align-bc padding-base-bottom">
    <div class="text-center" data-aos="fade-up">
        <div class="font-style-heading-section text-center padding-base">Zajistíme</div>
    </div>


    <div class="icons-list">

    {{#each icons}}
        <div class="icon" >

            <img class="lazy" src="{{root}}/assets/img/preloaders/pre_icon_service.svg" data-src="{{root}}/assets/img/icons/{{this}}" data-aos="zoom-in-up">

        </div>
    {{/each}}

    </div>

</section>