<div id="kontakt" data-magellan-target="kontakt" class=" grid-container full background-light-gray">

        <div class="padding-base">
            <span class="font-style-alveda-heading">Kdo je </span>
            <span class="font-style-alveda">ALVEDA?</span>
            <!--<img class="lazy" data-src="{{root}}/assets/img/logos/custom-typography/kdo_je_alveda.svg">-->
        </div>

        <div class="grid-x padding-base">
            {{#each people}}
            <div class="cell small-12 medium-6 ylarge-3 padding-double-bottom">
                <div class="grid-x">
                    <div class="cell small-12 intermedium-3 medium-12 large-4 ylarge-12 padding-quarter-horizontal">
                        <img class="portrait lazy margin-quarter-bottom responsive-by-width" src="{{root}}/assets/img/preloaders/pre_portrait.svg" data-src="{{ root }}/assets/img/people/{{ this.portrait }}" data-aos="zoom-in">
                    </div>
                    <div class="cell small-12 intermedium-9 medium-12 large-8 ylarge-12 padding-quarter-horizontal" data-aos="slide-up">
                        <h3 class="font-style-subheading color-primary">{{this.name}}</h3>
                        <p><strong>{{this.position}}</strong></p>
                        <p class="color-darkest-gray">{{{this.description}}}</p>
                        {{#if this.email}}<div class="contact-line">
                            <a class="contact-line color-black font-weight-bold display-block" href="mailto:{{ this.email }}">
                                <div class="icon-holder">
                                        <img data-src="{{ root }}/assets/img/logos/custom-typography/mail.svg" class="lazy small-icon">
                                </div>
                                {{ this.email }}
                            </a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

</div>