<section id="klienti" data-magellan-target="klienti" class="section section-mono">
    <div class="text-center">
        <div class="font-style-heading-section text-center padding-base">Naši klienti</div>
    </div>

    <div id="readmore-logos" class="logos-list padding-base-horizontal readmore" data-readmore="collapsed">

        {{#each logos}}
            <div class="partner padding-quarter-horizontal" >
    
                <img class="lazy" src="{{root}}/assets/img/preloaders/pre_icon_service.svg" data-src="{{root}}/assets/img/logos/partners/{{this}}" data-aos="zoom-in-up">
    
            </div>
        {{/each}}
    
    </div>
    <div class="readmore-toggle-background text-center padding-base background-white">
        <a class="readmore-toggle text-transform-uppercase font-weight-bold" class="readmore-toggle" href="" data-target="#readmore-logos" data-collapsed-text="Více" data-expanded-text="Zavřít">Více</a>
    </div>
    


</section>