<!-- Sekce akcí na klíč -->
<section id="akce-na-klic" adta-magellan-target="akce-na-klic" class="section poster section-half background-medium-gray grid-container full" data-aos="fade-up" >
    <div id="events" class="grid-x align-stretch section-full-height ltr expandable-holder">
    
        <!-- Výchozí rozklikávací obsah -->
        <div class="expandable-off-holder show-for-medium cell small-12 medium-6"  data-aos-anchor="#question-offer">
            <div class="grid-x expand-evil">

                {{#each events-images}}
                <div class="cell small-6 lazy bgsize-cover bgpos-center-center" data-bg="url({{root}}/assets/img/events/{{this.img}})">
                </div>
                {{/each}}

            </div>
        
                
            <!-- Detaily pro rozkliknutí na desktopu -->
            {{#each events }}
                <div id="event-type-expandable-{{this.id}}" class="active-content moveable vertical-wrapper color-{{this.color}}" data-index="{{this.index}}">
                    <button class="close-button deactivator color-{{this.color}}" aria-label="Zavřít fotogalerii" type="button" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="event-grid grid-x align-stretch" style="align-items:stretch">
                    {{#if this.img}}
                    {{#each this.img}}
                    <div class="events-image cell cell small-12 medium-6 {{this.class}} lazy" data-bg="url({{root}}/assets/img/events/{{this.url}})"></div>
                    {{/each}}
                    {{/if}}
                    </div>
                </div>
            {{/each}}

        </div> <!-- konec neaktivního obsahu  -->

        
    
        <!-- Textový obsah sekce -->
        <div class="cell small-12 medium-6 stretch-vertical padding-base-vertical padding-expandator-horizontal full background-dark-gray" data-aos-anchor="#question-offer">
            <div class="center-content-vertically-using-flex">
                <div class="vertical-centrator">
                    <div class="padding-base-bottom">
                        <img src="{{ root }}/assets/img/logos/custom-typography/alveda_akce_na_klic.svg">
                    </div>
                    <h2 class="display-none">Akce na klíč</h2>
                    <blockquote class="font-style-subheading">Pomůžeme vám zorganizovat firemní akce na míru.</blockquote>
                    <p>Projednáme vaše představy, navrhneme pojetí a příběh, který bude celou akci provázet. Vše připravíme jako celek s propracovanými detaily.</p>
            
                    <!-- Seznam projektů pro roklikávání na desktopu -->
                    <ul class="inline-triggers custom-square">
                        {{#each events }}
                        <li class="events-trigger expandable-trigger text-transform-uppercase font-weight-bold manual-lazyload" data-index="{{this.index}}" data-manual-lazyload="event-type-expandable-{{this.id}}">{{this.name}}</li>
                        {{/each}}
                    </ul>

                    <!-- Accordion se sekcemi zobrazenými na mobilu -->
                    <ul class="accordion hide-for-medium margin-base-horizontal-negative margin-zero-bottom" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                        {{#each events }}
                        <li class="accordion-item" data-accordion-item>
                                
                            <a href="#{{this.id}}" class="accordion-title autoscroll padding-base-horizontal color-black text-transform-uppercase font-weight-bold manual-lazyload" data-manual-lazyload="event-type-accordion-{{this.id}}">{{{ this.name }}}</a>
                            
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div id="event-type-accordion-{{this.id}}" class="accordion-content margin-base-horizontal-negative" data-tab-content>
                                {{#if this.img }}{{#each this.img}}
                                <img class="lazy" src="{{root}}/assets/img/preloaders/pre_events.svg" data-src="{{root}}/assets/img/events/{{this.url}}">
                                {{/each}}{{/if}}
                            </div>
                        </li>
                        {{/each}}
                            
                    </ul>


                </div>
            </div>
            <!-- Obrázky pro zobrazení na mobilu pod textem -->
            <div class="hide-for-medium margin-base-horizontal-negative margin-base-bottom-negative">

                <!-- Orbit dole -->
                <div class="orbit" role="region" aria-label="Akce na klíč realizované produkční agenturou ALVEDA" data-orbit data-bullets="false">
                        <div class="orbit-wrapper">
                          <div class="orbit-controls">
                            <button class="orbit-previous"><span class="show-for-sr">Předchozí obrázek</span>&#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">Následující obrázek</span>&#9654;&#xFE0E;</button>
                          </div>
                          <ul class="orbit-container">
                            {{#each events-images}}
                            <li class="is-active orbit-slide">
                              <figure class="orbit-figure">
                                <img class="orbit-image" src="{{root}}/assets/img/events/{{this.img}}">
                              </figure>
                            </li>
                            {{/each}}
                            {{#each events}}{{#each this.img }}
                            <li class="orbit-slide" style="height:100%; background-image:url({{root}}/assets/img/events/{{this.url}});background-size:cover; background-position:center center">
                                

                            </li>
                            {{/each}}{{/each}}
                          </ul>
                        </div>
                      </div>
            </div>

        </div><!-- konec textového obsahu sekce -->
    
    </div><!-- Konec mřížky -->
</section><!-- Konec sekce akce na klíč -->