<!-- Fotogalerie -->
<section id="galerie" data-magellan-target="galerie" class="section section-mono bg-style-cover bg-style-align-bc">
    <div class="text-center">
        <div class="font-style-heading-section text-center padding-base">Fotogalerie</div>
    </div>
    <div id="lightbox" class="grid-x">
        {{#each photos }}
        <div class="cell small-4 medium-4 large-3 xlarge-2" data-aos="zoom-in-up">
            <a href="{{root}}/assets/img/photogallery/details/{{ this.detail }}">
                <img class="lazy" src="{{root}}/assets/img/preloaders/pre_gallery.svg" data-src="{{root}}/assets/img/photogallery/{{ this.img }}">
            </a>
        </div>
        {{/each }}
    </div>
</section>

