<section class="section poster section-mono background-medium-gray">
    <div class="text-center">
        <div class="font-style-heading-section text-center padding-base">Videogalerie</div>
    </div>
    <!-- Hlavní přehrávač videí -->
    <div class="grid-container padding-base-bottom">

        <div class="grid-x grid-margin-x grid-margin-y">

            {{#each video}}
            <div class="cell small-12 medium-6 large-4 ">
                <div class="videocell">

                    <iframe width="560" height="349" src="https://www.youtube-nocookie.com/embed/{{this}}?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
            {{/each}}

            <div class="cell small-12 text-center">
                <a href="https://www.youtube.com/channel/UCVbd5PwCxJ46Eohjne8ci6A/videos" target="_blank" class="button">Další videa na našem YouTube kanálu</a>
            </div>

        </div>

        <!--
        <div id="video-main" class="video-container">
            <div class="main-video-player"></div>
        </div>
        -->
    </div>
    <!-- Seznam stažený z Youtube -->
    <div id="video-list" class="grid-x grid-padding-x grid-padding-y align-center"></div>
</section>