<!-- Úvodní sekce textová -->
<div id="presentation" class="section section-half grid-container full">
    <div class="grid-x align-center ltr">

        <div class="cell small-12 overmedium-6 padding-mimator-horizontal margin-half-vertical ">
            <div class=" vertical-wrapper padding-mimator-horizontal padding-alveda-heading-vertical strange-background"  data-aos="slide-right">
                <article>
                    <div>
                        <span class="font-style-alveda-heading">Jsme produkční a&nbsp;eventová agentura </span><span class="font-style-alveda font-style-padding-zleft font-style-bottom-underline">ALVEDA</span></div>
                    <p class="font-style-padding-zleft padding-quarter-top">Naše akce se nesou v duchu dobré nálady, smysluplné koncepce a kvalitního zpracování. Smysl vidíme v podpoře dobré mezilidské komunikace. Pomůžeme Vám a Vašim hostům prožít příběh, který vás spojí.</p>
                </article>

            </div>
        </div>

        <div class="cell small-12 overmedium-6 ">
            <div class="vertical-wrapper padding-base-horizontal padding-alveda-heading-vertical" data-aos="slide-left">
                <div class="video-container">
                    <div class="introVideo youtube target-intro" data-embed="5TUoeAmi624" data-preload="true" data-target="target-intro"></div>
                </div>
              </div> 
        </div>

    </div>
</div>

<!-- Oddělovač -->
<div id="question-offer" class="background-medium-gray padding-base" data-aos="fade-up">
    <div class="text-center">
        <div class="font-style-heading-section text-center">Co&nbsp;můžeme nabídnout?</div>
    </div>

</div>