<!-- Sekce projektů -->
<div id="nase-projekty" data-magellan-target="nase-projekty" class="section poster section-half grid-container full background-light-gray">
    <div id="projects" class="grid-x section-full-height-projekty ltr expandable-holder">
    
        <div class="expandable-off-holder cell small-12 overmedium-6">
            <!-- Výchozí obsah buňky -->
            <div class="inactive-content center-content-vertically-using-flex padding-base-vertical padding-expandator-horizontal">
                <div class="vertical-centrator">

                    <!-- Úvodní text -->
                    <h2 class="font-style-heading-section padding-half-bottom">NAŠE projekty</h2>
                    <blockquote class="font-style-subheading">Organizujeme také vlastní projekty,</blockquote>
                    <p class="margin-quarter-bottom">které mají za cíl vytvářet příjemné prostředí pro navázání a rozvinutí smysluplných obchodních i osobních vazeb. Vše s přidanou hodnotou znalosti trhu a schopností propojovat. I vy můžete být součástí.</p>
                            
                    <!-- Textový seznam projektů pro roklikávání na desktopu -->
                    <ul class="inline-triggers custom-square show-for-overmedium">
                        {{#each projects }}
                        <li class="expandable-trigger project-trigger dot-{{this.bg}} manual-lazyload" data-index="{{ this.index }}" data-manual-lazyload="project-detail-{{this.id}}">
                            <strong class="color-darkest-gray text-transform-uppercase">{{this.name}}</strong>
                        </li>
                        {{/each}}
                    </ul>

                    <!-- Accordion s projekty pro zobrazení na mobilu -->
                    <ul class="accordion hide-for-overmedium margin-base-horizontal-negative" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                        {{#each projects }}
                        <li class="accordion-item" data-accordion-item data-aos="fadeUp">
                                
                            <a href="#" class="accordion-title font-weight-bold autoscroll background-{{this.bg}}-accordion color-{{this.color}}-accordion text-center padding-base-horizontal manual-lazyload" data-manual-lazyload="project-accordion-{{this.id}}">{{{ this.html-cover }}}</a>
                            
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div id="project-accordion-{{this.id}}" class="accordion-content background-{{this.bg}} color-{{this.color}}" data-tab-content>
                                <div class="padding-base">    
                                    {{#if this.logo }}
                                        <div class="text-center padding-base-bottom">
                                            <img class="lazy" data-src="{{root}}/assets/img/logos/projects/{{this.logo}}">
                                        </div>
                                    {{/if}}
                                    {{#if this.subtitle }}
                                        <h4>{{ this.subtitle }}</h4>
                                    {{/if }}
                                    {{#if this.li }}
                                        {{#each this.li }}
                                        <p class="project-paragraph">{{this}}</p>
                                        {{/each }}
                                    {{/if }}
                                    {{#if this.url}}
                                        <div class="text-center">
                                            <a type="button" class="project-more-button border-color-{{this.border}} margin-quarter-top display-inline-blockm" target="_blank" href="{{this.url}}">INFO</a>
                                        </div>
                                    {{/if}}    
                                </div>
                                <div class="project-footer-image">
                                    <img class="responsive-by-width lazy" data-src="{{root}}/assets/img/projects/{{this.image-inactive}}">
                                </div>
                            </div>
                        </li>
                        {{/each}}
                            
                    </ul>

                </div>  
            </div>
            <!-- Dynamický obsah buňky -->
            {{#each projects }}
                <!-- Detail projektu -->
                <article id="project-detail-{{this.id}}" class="project-detail active-content moveable vertical-wrapper padding-base-vertical padding-expandator-horizontal background-{{this.bg}} color-{{this.color}} center-content-vertically-using-flex" data-index="{{this.index}}">
                    <div class="vertical-centrator">
                            <h3 class="display-none">{{this.name}}</h3>
                            <button class="close-button deactivator color-{{this.color}}" aria-label="Close menu" type="button" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- Logo projektu -->
                            {{#if this.logo }}
                            <div class="project-logo padding-two-paragraphs-bottom margin-zero">
                                <img class="lazy" data-src="{{root}}/assets/img/logos/projects/{{this.logo}}">
                            </div>
                            {{/if}}
                            <!-- Grafický text -->
                            <div class="padding-two-paragraphs-bottom padding-paragraph-top margin-zero">{{{ this.html-cover }}}</div>
                            <!-- Podtitul -->
                            {{#if this.subtitle }}
                            <div class="padding-paragraph-bottom margin-zero font-style-quote">{{ this.subtitle }}</div>
                            {{/if }}
                            <!-- Odstavce -->
                            {{#if this.li }}
                            {{#each this.li }}
                            <p class="project-paragraph padding-paragraph-bottom margin-zero">{{this}}</p>
                            {{/each }}
                            {{/if }}
                            <!-- Tlačítko -->
                            {{#if this.url }}
                            <div class="display-block padding-paragraph-top">
                                <a type="button" class="project-more-button border-color-{{this.border}} margin-quarter-top display-inline-block margin-zero" target="_blank" href="{{this.url}}">WEB</a>
                            </div>
                            {{/if}}
                    </div>
                </article>
            {{/each}}
            <!-- Konec dynamického obsahu buňky -->

                

                
            </div>
    
            <div class="cell small-12 overmedium-6 stretch-vertical grid-container full">
                
                <div class="grid-x align-stretch align-left desks-list">

                    {{#each projects}}
                    <div class="cell small-12 mobile-6 interactive-desk expandable-trigger project-trigger manual-lazyload" data-index="{{ this.index }}" data-manual-lazyload="project-detail-{{this.id}}"  data-aos="fade-left" data-aos-offset="-50">
                        <div class="inactive-content padding-base-horizontal lazy background-{{ this.bg }} tile-project-html">
                            <div class="inner-wrapper">
                                {{{ this.html-cover }}}
                                <div class="button-holder text-center ">
                                    <button type="button" class="project-more-button border-color-{{this.border}} margin-quarter-top">VÍCE</button>
                                </div>
                            </div>
                        </div>
                        <div class="active-content padding-base background-{{ this.bg }} color-{{this.color}} lazy" data-bg="url({{root}}/assets/img/projects/{{this.image-inactive}})"></div>
                    </div>
                    {{/each}}

                </div>
            
            </div>
    
        </div>
</div>
<!-- Konec selkce projektů -->