<section id="contact" class="section section-mono bg-style-cover bg-style-align-bc strange-green-separator">
    <div class="text-center padding-double-vertical padding-base-horizontal lazy" data-bg="url({{root}}/assets/img/people/alveda_sidlo_newest.jpg)" style="background-size:cover; background-position: center bottom;">
        <h2 class="font-style-heading-section color-white">Kontakt</h2>
    </div>
    <div class="grid-container fluid full">
        <div class="grid-x color-darkest-gray">
            <!-- Fakturační údaje-->
            <div class="cell small-12 intermedium-6 large-3 padding-double-vertical padding-base-horizontal nullator">
                <h3 class="font-style-subheading color-primary">Fakturační adresa</h3>
                <p>ALVEDA s.r.o.<br>Díly 21<br>344 01 Domažlice</p>
                <p>IČO: 03796744<br>DIČ: CZ03796744</p>
                <p>Spisová značka:  C&nbsp;30799 vedená u&nbsp;Krajského soudu v&nbsp;Plzni</p>
            </div>
            <!-- Kancelář -->
            <div class="cell small-12 intermedium-6 large-3 padding-double-vertical padding-base-horizontal">
                <h3 class="font-style-subheading color-primary">Kancelář</h3>
                <p>Bezručova 9<br>301&nbsp;00 Plzeň</p>
                <div>
                    <a class="contact-line color-darkest-gray display-block" href="mailto:info@alveda.cz">
                        <div class="icon-holder">
                            <img data-src="{{ root }}/assets/img/logos/custom-typography/mail.svg" class="lazy small-icon">
                        </div>
                        info@alveda.cz
                    </a>
                    <a class="contact-line color-darkest-gray display-block" href="tel:+420603837837">
                        <div class="icon-holder">
                            <img data-src="{{ root }}/assets/img/logos/custom-typography/telephone.svg" class="lazy small-icon">
                        </div>
                        +420 603 837 837
                    </a>
                </div>
            </div>
            <!-- Mapa -->
            <div class="cell small-12 medium-12 large-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2578.1577968983097!2d13.374755515925617!3d49.745474645789166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470af1e4da8c6257%3A0x2438f30518f258bc!2zQmV6cnXEjW92YSAxNTMvOSwgMzAxIDAwIFBsemXFiCAzLVZuaXTFmW7DrSBNxJtzdG8!5e0!3m2!1scs!2scz!4v1554868517593!5m2!1scs!2scz" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</section>
<footer id="footer" class="section background-darkest-gray padding-base text-center">
    <div class="">
        <img src="{{ root }}/assets/img/logos/alveda/alveda_logo_topbar.svg" class="footer-logo">
    </div>
    <div class="padding-half-top color-white">
        © 2019, ALVEDA s.r.o.
    </div>
</footer>