<section id="hodnoty" class="section section-mono bg-style-cover bg-style-align-bc">
    <div class="grid-x align-stretch ltr" style="">

        <div class="cell small-12 medium-6" data-aos="fade-right" style="flex-grow:1;">
            <div class="vertical-wrapper" style="position:relative; height:100%;">
                <div class="vertisection" style="align-items:stretch;">
                    <div class="subsection cell small-6 background-light-gray padding-base padding-zero-bottom">
                        <div class="font-style-heading-section padding-half-bottom">Naše hodnoty</div>
                        <div class="grid-x grid-padding-x grid-padding-y text-center">
                            {{#each values}}
                            <div class="cell small-6 submedium-3 medium-6 xlarge-3" data-aos="zoom-in-up">
                                <img class="lazy" src="{{root}}/assets/img/preloaders/pre_value.svg" data-src="{{root}}/assets/img/values/alveda_hodnoty_{{this.img}}">
                                <p><strong>{{{this.name}}}</strong></p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="subsection cell small-6 background-dada-gray padding-base padding-expandator-left" style="flex-grow:1;">
                        <div class="center-content-vertically-using-flex">
                            <div class="vertical-centrator">
                                <ul class="custom-square">
                                    <li data-aos="fade-up" data-aos-delay="300" data-aos="fade-up">DETAILY tvoří celek</li>
                                    <li data-aos="fade-up" data-aos-delay="600">PŘÍBĚH na míru</li>
                                    <li data-aos="fade-up" data-aos-delay="900">EMOCE v každé minutě</li>
                                </ul>
                                <p ><img class="lazy" data-src="{{root}}/assets/img/logos/custom-typography/alveda_hodnoty_dobre.svg" data-aos="fade-left" data-aos-delay="1200"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Alvedníček -->
        <div id="magazin" data-magellan-target="magazin" class="cell small-12 medium-6 padding-base-vertical padding-expandator-horizontal background-dark-gray" data-aos="fade-left">
            <div class="alvednicek">
                <!-- Textový obsah sekce -->
                <div class="alvednicek-text">
                    <div class="font-style-heading-section">Alvedníček</div>
                    <div class="font-style-subheading color-white margin-quarter-top">Firemní magazín k&nbsp;nahlédnutí:</div>
                </div>
                <!-- Obrázek sekce -->
                <div class="alvednicek-image">
                    <!-- Horizontální varianta varianta -->
                    <a href="{{root}}/assets/data/ALVEDNICEK_2019.pdf" target="_blank" class="display-block show-for-medium through-background" style="background-image: url({{root}}/assets/data/alvednicek_recent.jpg)">
                        <div class="alvednicek-arrow">
                            <img class="lazy" data-src="{{root}}/assets/img/misc/arrow-alvednicek.svg">
                        </div>
                    </a>
                    <!-- Vertikální varianta -->
                    <a href="{{root}}/assets/data/ALVEDNICEK_2019.pdf" target="_blank" class="display-block position-relative hide-for-medium through-image">
                        <img class="lazy display-block responsive-by-width padding-triple-right padding-base-top" src="{{root}}/assets/img/preloaders/pre_alvednicek.svg" data-src="{{root}}/assets/data/alvednicek_recent.jpg">
                        <div class="alvednicek-arrow position-absolute">
                            <img class="lazy" data-src="{{root}}/assets/img/misc/arrow-alvednicek.svg">
                        </div>
                    </a>
                    
                </div>
            </div>
            
            
        </div>

    </div>
</section>