<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/facivon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/facivon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/facivon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/facivon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/facivon/safari-pinned-tab.svg" color="#ff0096">
<link rel="shortcut icon" href="/assets/img/facivon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/assets/img/facivon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">