// General Overrides

blockquote {
    font-weight:bold;
}

ul {
    &.custom-square {
        list-style-type:none;
        margin-left:0;
        li {

            &:before {
                content: "";
                display:inline-block;
                // float:left;
                background:get-color(primary);
                width:10px;
                height:10px;
                margin-right:10px;
            }
        }
    }
}

// Grid container overrides
.grid-container {
    &.thin {
        // max-width:900px !important;
        $w: (
            small:100%,
            medium: 700px,
            large: 800px,
            xlarge: 900px,
        );
        @include expand-into-property( $w, max-width );
    }
}

// Cell overrides
.cell {
    &.stretch-vertical {
        @media (min-width:$grid-collapse) {
            align-self: stretch;
            min-height:100%;
        }
    }
    &.vertical-align-center {
        @media (min-width:$grid-collapse) {
            vertical-align:center;
            display:table;
            height:100%;
            .vertical-wrapper {
                display:table-cell;
                vertical-align:middle;
            }
        }
    }
}

// grid extensions
.grid-x {

    &.align-stretch {
        align-items: stretch;
        > .cell {
            // height: 100%;
        }
    }
    &.align-center {
        align-items: center;
    }

    &.section-full-height {
        @media (min-width:$grid-collapse) {
            // height:80vh;
            position:relative;

            &.ltr {
                > .cell {
                    &:first-child {
                        order: 1;
                    }
                    &:last-child {
                        order:2;
                    }
                }

            }
            &.rtl {
                > .cell {
                    &:first-child {
                        order: 2;
                    }
                    &:last-child {
                        order:1;
                    }
                }
            }
        }
    }
    
}

// sticky overrides
.sticky-container {

    position:fixed;
    z-index:9999;
    width:100%;

}


// topbar overrides
.top-bar .menu {
    background:transparent !important;
    a {
        color: $white !important;
        &:hover {
            color: get-color(primary);
        }
    }
}


// titlebar overrides
.title-bar {
    z-index:9999;
    justify-content: flex-end;
    .menu-holder {
        float:right;
    }
    .title-bar-title {
        top:10px;
        left:10px;
        position:absolute;
    }
}

// video responsivní
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    width: 100%;
    background: $black;//$light-gray;
    background-image: url(../img/preloaders/pre_video.svg);
    background-repeat:no-repeat;
    background-position:center center;
    iframe {
        width:100%;
        height:100%;
        position:absolute;
        top:0; left:0;
    }
}

.video-trigger {
    position:relative;
    overflow:hidden;
    cursor:pointer;
    .youtube-video-thumbnail {
        position:relative;
        left:0;
        opacity:1;
        transition: left $speed ease-in-out, opacity $speed ease-in-out;
    }
    .youtube-video-name {
        background:get-color(primary);
        color:$white;
        position:absolute;
        top:0;
        left:-100%;
        width:100%;
        height:100%;
        transition: left $speed ease-in-out;
        display:flex;
        align-items:center;
        justify-content: center;
        text-align:center;
    }
    &:hover,
    &.active {
        .youtube-video-thumbnail {
            left:100%;
            opacity:0.7;
        }
        .youtube-video-name {
            left:0;
        }
    }
}

.strange-background {
    @media (min-width:map-get($breakpoints,overmedium)) {
        background-image: url(../img/misc/strange-background.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center center;
        height: 100%;
    }
}

// Readmore.js
.readmore {
    overflow:hidden;
    transition:max-height $speed*2 ease-in-out;
    &[data-readmore="collapsed"] {
        // background:red;
        // max-height: 100px;
        $mh: (
            small: 400px,
            medium:350px,
            large: 250px,
        );
        @include expand-into-property($mh,max-height);
    }
    &[data-readmore="expanded"]{
    /// background:yellow;
        max-height: 4000px;
    }
}
a.readmore-toggle {
    text-align:center;
    display:block;
    z-index:999;
    
}

.readmore-toggle-background {
    -webkit-box-shadow: 0px 53px 108px 43px rgba(0,0,0,0.46);
        -moz-box-shadow: 0px 53px 108px 43px rgba(0,0,0,0.46);
        box-shadow: 0px 53px 108px 43px rgba(0,0,0,0.46);
}

.expand-evil {
    width: 100%;
    height: 100%;
}

@keyframes flocking {
    from {top: -30px;}
    50% {top: -25px;}
    to {top: -30px;}
  }
.arrow-down {
    position:absolute;
    bottom: 0;
    right: 47%;
    @media (max-width:map-get($breakpoints,submedium)) {
        right: 37%;
    }
    @media (max-width:map-get($breakpoints,intermedium)) {
        right: 25%;
        display:none;
    }
    // width: 100%;
    > #arrow_down {
        display:inline-block;
        // background-color: red;
        position:relative;
        top:-30px;
        animation-name: flocking;
        animation-duration: .75s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        $heights: (
                small: 100px,
                medium: 120px,
                xlarge: 999px
            );
            @include expand-into-property-direct($heights,max-height);
    }
}








