// expandables


.expandable-trigger {
    cursor:pointer;
}
.person-trigger {
    > * {
        background-size:cover;
        background-position:center center;
        $heights: (
            // small:50px,
            mobile: percentage(1/2),
        );
        @include expand-into-property($heights,height,1);
    }
    
}

.project-trigger {
    > * {
        background-size:cover;
        background-position:center center;
        $heights: (
            // small:50px,
            mobile: percentage(1/3),
        );
        @include expand-into-property($heights,height,1);
    }
    
}



$expandablables: 8;

$expandables: (
    ltr: (
        dir: left,
        percentage: -100%,
        percentageOp: 100%,
        hoverOp: 40px,
    ),
    rtl: (
        dir: left,
        percentage: 100%,
        percentageOp: -100%,
        hoverOp: -40px,
    ),
);


.desks-list {
    height:100%;
    flex-wrap:wrap;

}

@each $direction,$values in $expandables {

    @media (min-width:$expandable-collapse) {

        .#{$direction} {


            // Desks

            .interactive-desk {

                position:relative;
                overflow:hidden;

                // Výšku je nutné nastavit na úrovni konkrétních implementací

                > * {
                    width:100%;
                    transition: map-get($values,dir) $speed ease-in-out;
                }
                .inactive-content {
                    position:absolute;
                    top:0;
                    left:0;//-100%;
                    height: 100%;
                    .button-holder {
                        overflow:hidden;
                        height: 0px;
                        transition: height $speed/2 ease-in-out;
                    }
                    &:hover {
                        .button-holder {
                            height:55px;
                        }
                    }
                }
                .active-content {
                    left:map-get($values,percentage);
                    position:absolute;
                    height:100%;
                    
                }

                &:hover {
                    .inactive-content {
                        left:map-get($values,hoverOp);
                    }
                    .active-content {
                        left: calc( #{map-get($values,percentage)} + #{map-get($values,hoverOp)} );
                    }
                }
            
            }

            $i:0;
            @while $i < $expandablables {

                $i: $i + 1;

                &.expandable-holder[data-active="#{$i}"] {
                    .interactive-desk[data-index="#{$i}"] {

                        overflow:none !important;

                        .inactive-content {
                            left:map-get($values,percentageOp);
                            // transform: translateX( map-get($values,percentageOp) );
                        }
                        .active-content {
                            left: 0;
                            // transform: translateX( 0 );
                        }

                    }
                }
            }



            // Details-off
            @media (max-width:$expandable-collapse) { 
                .expandable-off-holder {
                    .active-content {
                        display:none;
                    }
                }
            }
            
            @media (min-width:$expandable-collapse) {
                .expandable-off-holder {
                    position:relative;
                    > * {
                        width:100%;
                        height:100%;
                    }
                    .active-content {
                        position:absolute;
                        left:map-get($values,percentage);
                        //transform: translateX( map-get($values,percentage) );
                        top:0;
                        height:100%;
                        transition: map-get($values,dir) $speed ease-in-out;
                        // transition: transform $speed ease-in-out;
                    }
                }
                $i:0;
                @while $i < $expandablables {

                    $i: $i + 1;

                    &.expandable-holder[data-active="#{$i}"] {
                        .expandable-off-holder .moveable.active-content[data-index="#{$i}"] {
                            left: 0 !important;
                            // transform: translateX(0) !important;
                            z-index:9998;
                            @media (max-width:$expandable-extend) {
                                width:200%;
                                @if $direction == rtl {
                                    left:map-get($values,percentageOp) !important;
                                    // transform:translateX( map-get($values,percentageOp) ) !important;
                                }  
                            }
                        }
                    }
                }
            }

        

        } // end .ltr resp. .rtl

    } // end custom design

    @media (max-width:$expandable-collapse) {
        .desks-list,
        .moveable, 
        .inline-triggers {
            display:none !important;
        }
    }

}


// toto je rozklikávací item
.event-grid {
    min-height:100%;
}
$ei-heights: (
    small: 400px,
    medium: 50%,
);
.event-desk {
    @include expand-into-property($ei-heights,height);
}

.tile-project-html {
    display:flex;
    justify-content:center;
    align-items:center;
    .inner-wrapper {


    }

    
}

// Tlačítko více
.project-more-button {
    background:none !important;
    border-width: 3px;
    $bw: (
        small: (
            border-width: 2px,
            padding:5px 15px,
        ),
        medium: (
            border-width: 2px,
            padding:7px 21px,
        ),
    );
    @include expand-list($bw);
    border-style: solid;
    // padding:5px 10px;
}
// Styl písem textových log projektů
.project-header-standard {

}

.project-header-smaller {
    
}


// Interaktivní deska
.interactive-desk {
    .project-header-standard {
        $s: (
            small: (
                line-height: 1.05em,
                font-weight: 800,
            ),
            mobile: (),
            medium: (
                font-size: 20px,
            ),
            large: (
                font-size: 22px,
            ),
            alarge: (
                font-size: 24px,
            ),
            xlarge: (
                font-size: 26px,
            ),
            xxlarge:(
                font-size: 28px,
            ),
            xxxlarge: (
                font-size: 30px,
            ),
        );
        @include expand-list($s);
    }
    
    .project-header-smaller {
        $s: (
            small: ( 
                font-size: 16px,
                line-height: 1.05em,
            ),
            mobile: (
                
            ),
            medium: (
                
            ),
            large: (
                font-size: 17px,
            ),
            xlarge: (),
            xxlarge:(),
            xxxlarge: (),
        );
        @include expand-list($s);
    }
}

// Rozklikávatelný detail projektu
.project-detail {
    .project-header-standard {
        $s: (
            small: (
                font-weight: 800,
                line-height: 1.05em,
                text-align: left,
            ),
            mobile: (

            ),
            medium: (
                font-size: 25px,
            ),
            large: (
                font-size: 30px,
            ),
            xlarge: (
                font-size: 40px,
            ),
            xxlarge:(),
            xxxlarge: (),
        );
        @include expand-list($s);
    }
    
    .project-header-smaller {
        $s: (
            small: (),
            mobile: (),
            medium: (),
            large: (
                font-size: 17px,
            ),
            xlarge: (),
            xxlarge:(),
            xxxlarge: (),
        );
        @include expand-list($s);
    }
}