.title-bar {
    z-index: 999999;
    flex-wrap: wrap;
    transition: background-color $speed*2 ease-in-out;
    &[data-state="collapsed"] {
        // background-color: red;
        .pseudocordion {
            max-height:0px;
            // display:none;
            // display:none;
        }
    }
    &[data-state="expanded"] {
        background-color: rgba(0,0,0,0.9);
        .pseudocordion {
            max-height:4000px;
            // display:flex;
            ul {
                // display:block;
                li {
                    opacity:1;
                    display:block;
                }
            }
        }
    }
}
.pseudocordion {
    width:100%;
    height: 95vh;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    transition: max-height $speed ease-in-out;
    ul {
        margin-top: -15px;
        list-style-type: none;
        padding:0;
        margin:0;
        
        li {
            opacity: 0;
            transition:opacity $speed ease-in-out;
            // font-weight: $global-weight-bold;
            display:none;
        }
        a {
            color: $medium-gray;
            padding:10px 0;
            display:block;
            &:hover {
                color: $white;
            }
        }
    }
}
.x-button {
    color:$light-gray;
    font-size: 2em;
    cursor:pointer;
    margin-top:-10px;
    &:hover {
        color: $white;
    }
}