// navigation
.main-logo {
    position:absolute;
    top:-10px;
    left:15px;
}


// obecné věci týkající se sekcí
.section {

    

    $sections: (
        intro-orbit: (
            small: (
                //"any": '80vh',
                portrait: 70vh,
                landscape: 150vh,
            ),
            mobile: (),
            intermedium: (),
            submedium: (
                landscape: 100vh
            ),
            medium: (
                landscape: 90vh,
                portrait: 60vh,
            ),
            taxi: (
                landscape: 80vh,
            ),
            large: (),
            alarge: (),
            xlarge: (),
            ylarge: (),
            xxlarge: (
                landscape: 90vh
            ),
            xxxlarge: (),
        ),
        section-full-height: (
            small: (
                //"any": '80vh',
                // portrait: 70vh,
                // landscape: 150vh,
            ),
            mobile: (),
            intermedium: (),
            submedium: (
                // landscape: 100vh
            ),
            medium: (
                // landscape: 90vh,
                // portrait: 60vh,
            ),
            taxi: (
                // landscape: 80vh,
            ),
            large: (
                //landscape: 90vh
            ),
            alarge: (),
            xlarge: (
                
            ),
            ylarge: (
                
            ),
            xxlarge: (
                //landscape: 90vh
            ),
            xxxlarge: (),
        ),
        section-full-height-projekty: (
            small: (
                //"any": '80vh',
                // portrait: 70vh,
                // landscape: 150vh,
            ),
            mobile: (),
            intermedium: (),
            submedium: (
                // landscape: 100vh
            ),
            medium: (
                // landscape: 90vh,
                // portrait: 60vh,
            ),
            taxi: (
                // landscape: 80vh,
            ),
            large: (
                landscape: 90vh
            ),
            alarge: (),
            xlarge: (
                
            ),
            ylarge: (
                
            ),
            xxlarge: (
                landscape: 90vh
            ),
            xxxlarge: (),
        ),
    );
    @each $class, $section in $sections {
        @each $bp, $orientations in $section {
            @each $orientation, $height in $orientations {
                @if ( $orientation == "any" ) {
                    @media (min-width: map-get($breakpoints,$bp)) {
                        .#{$class} {
                            min-height: $height;
                        }
                    }
                }
                @else {
                    @media (min-width: map-get($breakpoints,$bp)) and ( orientation: $orientation ) {
                        .#{$class} {
                            height: $height;
                        }
                    }
                }
            }
            
        }
    }
}

.section-full-height {
    //min-height:100vh;
}




// úvodní sekce s logem a s orbitou
.intro-orbit {
    position:relative;

    // orbita na pozadí elementu
    .fullscreen-orbit {
        height:80vh;
        position:absolute;
        width:100%;
        height:100%;
        top:0; 
        left:0;
        .orbit-slide {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height:100%;
            width:100%;
        }
    }

    // logo jako hlavní obsah
    .overlap-logo {
        position:relative;
        width:100%;
        height:100%;
        color:white;
        top:0px;
        left:0px;
        z-index:9998;

        .intro-orbit-logo {
            $heights: (
                small: 250px,
                medium:350px,
                taxi: 450px,
                large: 500px,
                xlarge: 600px,
                // xxlarge: 70%,
                xxxlarge: 600px,
                huge: 625px,
            );
            @include expand-into-property-direct($heights,max-height);
        }
    }
    
}

//  sekce portrétů
.portrait {
    border-radius: 50%;
    border-style: solid;
    border-color: $dark-gray;
    $bh: (
        small: 3px,
        medium: 5px,
        large: 7px
    );
    @include expand-into-property( $bh, border-width );
    @include expand-into-property( $bh, margin-left, -1 );
    @include expand-into-property( $bh, margin-right, -1 );

    $w: (
        small: 100%,
        medium: 250px,
        huge: 300px,
    );
    @include expand-into-property( $w, max-width );
    height: auto; 
}

.strange-green-separator {
    $bw: (
        small:30px,
        medium:40px,
        large:50px,
        xlarge: 60px,
    );
    @include expand-into-property($bw,border-top-width);
    border-top-color:#bfd300;
    border-top-style: solid;
    outline:none;
}

.small-icon {
    display:inline-block;
}
.icon-holder {
    display:inline-block;
    $w: (
        small: 20px,
        medium: 30px,
        xxlarge: 40px,
        // xlarge: 60px,
    );
    @include expand-into-property($w,width);
    > img {
        width: 100%;
        height: auto;
    }
}
.contact-line {
    margin-bottom:10px;
}

footer#footer {
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    align-items: center;
    flex-direction:column;
}
.footer-logo {
    margin-right:-40%;
}

// Alvedníček
.alvednicek {
    display:flex;
    flex-direction: column;
    @media (min-width: map-get($breakpoints,medium)) {
        height: 100%;
    }
    
    .alvednicek-image {
        flex-grow: 1;
        $mh: (
            small: 300px,
            xxlarge: 600px,
        );
        @include expand-into-property($mh,min-height);
    }
    .through-background {
        height: 100%;
        $mh: (
            small: 300px,
            xxlarge: 600px,
        );
        @include expand-into-property($mh,min-height);
        background-position: left center;
        background-size:contain;
        margin-top: 15px;
        background-repeat: no-repeat;
        $right: (
            small: 0px,
            taxi: -15px,
            ylarge: 40px,
            xxxlarge: 60px,
            huge: 120px,
        );
        .alvednicek-arrow {
            position:relative;
            top:50%;
            // right:0px;
            @include expand-into-property($right,right);
            transition: right $speed/2 ease-in-out;
            > * {
                display:block;
                float:right;
            }
        }
        &:hover {
            .alvednicek-arrow {
                // right: -10px;
                @each $bp,$r in $right {
                    @media ( min-width: map-get($breakpoints,$bp) ) {
                        right: $r - 10px;
                    }
                }
            }
        }
    }
    
    .through-image {
        .alvednicek-arrow {
            top:50%;
            right:15px;
            transition: right $speed/2 ease-in-out;
            > * {
                display:block;
                float:right;
            }
        }
        &:hover {
            .alvednicek-arrow {
                right: 0px;
            }
        }
    }
}

.icons-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    .icon {
        $widths:(
            small: 2,
            mobile: 3,
            intermedium: 4,
            medium: 5,
            large: 6,
            alarge: 7,
            xlarge: 8,
            ylarge: 10,
            xxxlarge: 12
        );
        @each $bp,$val in $widths {
            @media ( min-width: map-get($breakpoints,$bp) ) {
                width: percentage(1/$val);
            }
        }
    }
}

.logos-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom:30px;
    .partner {
        $widths:(
            small: 2,
            mobile: 3,
            medium: 4,
            taxi: 5,
            large: 7,
            alarge: 7,
            //xlarge: 8,
            ylarge: 8,
            xxxlarge: 9
        );
        @each $bp,$val in $widths {
            @media ( min-width: map-get($breakpoints,$bp) ) {
                width: percentage(1/$val);
            }
        }
    }
}


.vertisection {
    @media ( min-width: map-get($breakpoints,medium) ) {
        height:100%;
        display:flex;
        flex-direction:column;
        .subsection {
            &:last-child {
                flex-grow: 1
            }
        }
    }
    
}

.videocell {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
}
