<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="529.453px" height="697.563px" viewBox="-5.132 -5.537 529.453 697.563"
	 enable-background="new -5.132 -5.537 529.453 697.563" xml:space="preserve">
<g id="Layer_1_1_">
</g>
<g id="Layer_2">
</g>
<g id="Layer_3">
</g>
<g id="Layer_5">
</g>
<g id="Layer_8">
</g>
<g id="Layer_9">
</g>
<g id="Layer_4">
</g>
<g id="Layer_7">
</g>
<g id="Layer_11">
</g>
<g id="Layer_10">
</g>
<g id="ALVEDA">
	<path fill="#FFFFFF" d="M126.514,503.198c-2.803,0-5.002-1.019-6.598-3.056h-0.342c0.227,1.993,0.342,3.145,0.342,3.461v9.676
		h-6.516v-34.393h5.297l0.922,3.1h0.297c1.525-2.366,3.779-3.547,6.771-3.547c2.818,0,5.025,1.09,6.621,3.268
		c1.596,2.18,2.391,5.207,2.391,9.081c0,2.548-0.373,4.76-1.119,6.641c-0.75,1.88-1.813,3.311-3.195,4.294
		C130.005,502.705,128.384,503.198,126.514,503.198z M124.593,483.654c-1.607,0-2.781,0.494-3.521,1.483
		c-0.742,0.991-1.125,2.624-1.154,4.902v0.704c0,2.563,0.377,4.401,1.143,5.514c0.762,1.11,1.967,1.666,3.619,1.666
		c2.92,0,4.381-2.408,4.381-7.222c0-2.35-0.361-4.11-1.08-5.285C127.259,484.24,126.132,483.654,124.593,483.654z M154.411,478.44
		c0.887,0,1.617,0.063,2.201,0.192l-0.492,6.112c-0.525-0.144-1.166-0.214-1.918-0.214c-2.084,0-3.703,0.532-4.859,1.599
		c-1.166,1.07-1.744,2.563-1.744,4.488v12.152h-6.514v-23.883h4.932l0.965,4.016h0.32c0.738-1.338,1.738-2.414,2.998-3.235
		C151.561,478.85,152.93,478.44,154.411,478.44z M182.649,490.788c0,3.886-1.027,6.926-3.078,9.12
		c-2.049,2.191-4.906,3.29-8.564,3.29c-2.291,0-4.314-0.502-6.064-1.507c-1.754-1.004-3.098-2.446-4.037-4.324
		c-0.941-1.881-1.41-4.074-1.41-6.579c0-3.901,1.018-6.937,3.055-9.103c2.035-2.165,4.898-3.246,8.586-3.246
		c2.293,0,4.316,0.498,6.064,1.495c1.754,0.997,3.1,2.429,4.037,4.294C182.178,486.096,182.649,488.281,182.649,490.788z
		 M166.139,490.788c0,2.361,0.383,4.15,1.164,5.361c0.773,1.212,2.037,1.814,3.791,1.814c1.734,0,2.986-0.603,3.744-1.806
		c0.762-1.201,1.146-2.992,1.146-5.37c0-2.366-0.385-4.136-1.154-5.319c-0.768-1.183-2.029-1.775-3.781-1.775
		c-1.736,0-2.99,0.589-3.76,1.766C166.522,486.633,166.139,488.409,166.139,490.788z M195.593,503.198
		c-2.805,0-5.012-1.091-6.609-3.269c-1.604-2.18-2.402-5.197-2.402-9.058c0-3.917,0.814-6.968,2.443-9.154
		c1.631-2.186,3.879-3.278,6.738-3.278c3.004,0,5.297,1.167,6.877,3.502h0.215c-0.328-1.779-0.488-3.367-0.488-4.762v-7.645h6.533
		v33.234h-4.998l-1.262-3.098h-0.273C200.882,502.024,198.624,503.198,195.593,503.198z M197.876,498.009
		c1.666,0,2.889-0.487,3.666-1.456c0.773-0.965,1.197-2.612,1.271-4.934v-0.706c0-2.562-0.396-4.396-1.188-5.509
		c-0.791-1.109-2.076-1.668-3.855-1.668c-1.451,0-2.58,0.619-3.387,1.85c-0.803,1.232-1.205,3.021-1.205,5.372
		c0,2.349,0.406,4.11,1.217,5.285C195.208,497.42,196.368,498.009,197.876,498.009z M232.628,502.77l-0.873-3.057h-0.342
		c-0.699,1.112-1.691,1.971-2.971,2.575c-1.281,0.607-2.74,0.91-4.379,0.91c-2.805,0-4.92-0.752-6.344-2.254
		c-1.42-1.502-2.139-3.663-2.139-6.482v-15.575h6.52v13.949c0,1.726,0.305,3.02,0.918,3.879c0.611,0.86,1.586,1.294,2.926,1.294
		c1.82,0,3.141-0.611,3.951-1.829c0.813-1.217,1.215-3.234,1.215-6.057v-11.236h6.518v23.883H232.628z M250.721,489.781l2.842-3.628
		l6.682-7.267h7.348l-9.484,10.362l10.059,13.521h-7.518l-6.875-9.676l-2.797,2.242v7.434h-6.518v-33.234h6.518v14.823l-0.342,5.423
		H250.721z M281.282,503.198c-7.43,0-11.146-4.083-11.146-12.24c0-4.058,1.008-7.161,3.029-9.304
		c2.023-2.144,4.922-3.215,8.697-3.215c2.76,0,5.24,0.541,7.432,1.624l-1.922,5.041c-1.025-0.412-1.98-0.749-2.865-1.015
		c-0.881-0.264-1.764-0.396-2.645-0.396c-3.391,0-5.086,2.409-5.086,7.22c0,4.675,1.695,7.01,5.086,7.01
		c1.252,0,2.412-0.168,3.482-0.503c1.063-0.334,2.135-0.859,3.199-1.571v5.576c-1.053,0.669-2.115,1.131-3.189,1.388
		C284.276,503.071,282.923,503.198,281.282,503.198z M290.704,469.256v0.575c-1.197,1.197-2.295,2.39-3.301,3.578
		c-1.004,1.19-1.727,2.138-2.166,2.85h-7.631c-0.41-0.666-1-1.467-1.766-2.401c-0.773-0.933-2.006-2.273-3.701-4.026v-0.575h4.338
		c2.094,1.324,3.727,2.576,4.893,3.76c1.197-1.239,2.861-2.494,4.996-3.76H290.704z M316.122,502.77h-6.516v-13.945
		c0-1.725-0.305-3.017-0.918-3.879c-0.613-0.864-1.59-1.292-2.924-1.292c-1.826,0-3.145,0.609-3.955,1.826
		c-0.809,1.218-1.217,3.235-1.217,6.054v11.236h-6.512v-23.883h4.975l0.875,3.055h0.361c0.73-1.154,1.729-2.024,3-2.615
		c1.277-0.592,2.727-0.887,4.348-0.887c2.779,0,4.889,0.752,6.326,2.252c1.439,1.504,2.156,3.676,2.156,6.508V502.77z
		 M322.509,476.259v-0.575c2.451-2.847,4.121-4.988,5.02-6.428h7.305v0.448c-0.746,0.737-2.004,1.842-3.791,3.299
		c-1.787,1.462-3.188,2.544-4.197,3.256H322.509z M329.343,502.77h-6.514v-23.883h6.514V502.77z M135.614,562.829l-2.197-4.399
		h-0.234c-1.545,1.918-3.121,3.227-4.725,3.931c-1.6,0.702-3.672,1.056-6.215,1.056c-3.129,0-5.59-0.938-7.391-2.814
		c-1.799-1.877-2.695-4.519-2.695-7.921c0-3.536,1.23-6.173,3.691-7.901c2.467-1.732,6.031-2.703,10.703-2.92l5.545-0.178v-0.465
		c0-2.737-1.35-4.105-4.047-4.105c-2.424,0-5.504,0.82-9.238,2.462l-3.314-7.565c3.871-1.994,8.758-2.99,14.666-2.99
		c4.258,0,7.557,1.054,9.895,3.166c2.334,2.111,3.508,5.065,3.508,8.854v21.791H135.614z M127.11,555.323
		c1.391,0,2.578-0.442,3.566-1.321c0.984-0.879,1.479-2.023,1.479-3.432v-2.581l-2.639,0.118c-3.773,0.135-5.66,1.524-5.66,4.166
		C123.856,554.304,124.942,555.323,127.11,555.323z M182.714,529.604v5.542l-4.547,1.672c0.625,1.134,0.936,2.452,0.936,3.958
		c0,3.58-1.254,6.354-3.766,8.328c-2.514,1.975-6.262,2.96-11.248,2.96c-1.229,0-2.211-0.075-2.932-0.233
		c-0.273,0.509-0.412,0.988-0.412,1.438c0,0.566,0.461,1.004,1.379,1.308c0.918,0.302,2.123,0.453,3.609,0.453h5.512
		c7.449,0,11.174,3.139,11.174,9.413c0,4.047-1.725,7.194-5.176,9.443c-3.453,2.249-8.295,3.37-14.529,3.37
		c-4.713,0-8.344-0.786-10.896-2.356c-2.551-1.578-3.828-3.839-3.828-6.791c0-3.969,2.465-6.529,7.391-7.685
		c-1.014-0.428-1.902-1.121-2.654-2.083c-0.75-0.955-1.129-1.904-1.129-2.843c0-1.038,0.283-1.95,0.852-2.739
		c0.566-0.795,1.748-1.737,3.547-2.833c-1.719-0.761-3.072-1.953-4.059-3.579c-0.988-1.619-1.482-3.594-1.482-5.922
		c0-3.616,1.23-6.421,3.697-8.416c2.461-1.994,5.98-2.99,10.553-2.99c0.609,0,1.652,0.066,3.139,0.203s2.58,0.264,3.283,0.383
		H182.714z M157.667,566.963c0,0.938,0.51,1.697,1.527,2.274c1.014,0.575,2.377,0.864,4.074,0.864c2.775,0,5.002-0.346,6.672-1.04
		c1.674-0.696,2.506-1.589,2.506-2.685c0-0.88-0.506-1.5-1.523-1.863c-1.016-0.36-2.473-0.542-4.367-0.542h-4.49
		c-1.232,0-2.27,0.288-3.121,0.866C158.093,565.414,157.667,566.122,157.667,566.963z M161.276,540.484
		c0,3.401,1.182,5.103,3.549,5.103c1.092,0,1.939-0.422,2.533-1.262c0.6-0.842,0.895-2.101,0.895-3.783
		c0-3.441-1.143-5.162-3.428-5.162C162.458,535.379,161.276,537.08,161.276,540.484z M203.796,563.416
		c-5.531,0-9.83-1.473-12.887-4.414c-3.061-2.943-4.59-7.131-4.59-12.565c0-5.611,1.418-9.918,4.252-12.921
		c2.834-3,6.879-4.498,12.141-4.498c5.006,0,8.871,1.304,11.598,3.914c2.727,2.609,4.09,6.369,4.09,11.275v5.104h-20.496
		c0.078,1.856,0.756,3.314,2.039,4.369c1.275,1.055,3.023,1.584,5.232,1.584c2.014,0,3.867-0.191,5.559-0.573
		c1.689-0.381,3.523-1.03,5.496-1.949v8.24c-1.799,0.919-3.654,1.553-5.57,1.905C208.745,563.239,206.458,563.416,203.796,563.416z
		 M203.124,536.818c-1.352,0-2.48,0.426-3.391,1.274c-0.908,0.852-1.443,2.186-1.596,4.004h9.855
		c-0.043-1.605-0.496-2.885-1.367-3.842S204.589,536.818,203.124,536.818z M245.85,562.829v-18.125c0-2.207-0.316-3.874-0.955-5
		c-0.631-1.123-1.654-1.684-3.063-1.684c-1.936,0-3.334,0.771-4.193,2.315c-0.861,1.546-1.291,4.195-1.291,7.947v14.546h-11.467
		v-33.226h8.654l1.434,4.105h0.674c0.979-1.566,2.334-2.736,4.063-3.521c1.73-0.781,3.723-1.17,5.969-1.17
		c3.678,0,6.535,1.063,8.576,3.196c2.045,2.13,3.066,5.13,3.066,9.003v21.612H245.85z M281.393,554.352
		c1.543,0,3.389-0.38,5.543-1.143v8.359c-1.547,0.663-3.018,1.139-4.414,1.423c-1.398,0.282-3.035,0.425-4.916,0.425
		c-3.85,0-6.625-0.945-8.324-2.831s-2.553-4.785-2.553-8.695v-13.693h-4.018v-4.664l5.104-3.605l2.961-6.982h7.51v6.659h8.15v8.593
		h-8.15v12.932C278.286,553.278,279.319,554.352,281.393,554.352z M316.405,562.829l-1.436-4.136h-0.674
		c-0.959,1.523-2.293,2.693-4.002,3.504c-1.713,0.811-3.721,1.219-6.029,1.219c-3.654,0-6.498-1.062-8.533-3.182
		c-2.033-2.125-3.049-5.117-3.049-8.989v-21.642h11.465v18.153c0,2.168,0.309,3.811,0.926,4.924
		c0.615,1.115,1.627,1.671,3.039,1.671c1.971,0,3.377-0.776,4.219-2.328c0.84-1.555,1.26-4.181,1.26-7.875v-14.545h11.467v33.226
		H316.405z M353.036,529.018c0.996,0,1.943,0.078,2.844,0.232l0.646,0.117l-1.027,10.821c-0.941-0.235-2.238-0.352-3.9-0.352
		c-2.504,0-4.322,0.571-5.453,1.717c-1.135,1.144-1.705,2.79-1.705,4.94v16.335h-11.463v-33.226h8.531l1.791,5.305h0.555
		c0.961-1.759,2.293-3.182,4.006-4.266C349.571,529.56,351.296,529.018,353.036,529.018z M382.829,562.829l-2.197-4.399h-0.236
		c-1.547,1.918-3.119,3.227-4.719,3.931c-1.609,0.702-3.68,1.056-6.219,1.056c-3.125,0-5.594-0.938-7.393-2.814
		s-2.697-4.519-2.697-7.921c0-3.536,1.232-6.173,3.693-7.901c2.467-1.732,6.033-2.703,10.707-2.92l5.543-0.178v-0.465
		c0-2.737-1.348-4.105-4.049-4.105c-2.422,0-5.502,0.82-9.238,2.462l-3.314-7.565c3.873-1.994,8.76-2.99,14.664-2.99
		c4.262,0,7.564,1.054,9.896,3.166c2.34,2.111,3.504,5.065,3.504,8.854v21.791H382.829z M374.323,555.323
		c1.389,0,2.58-0.442,3.564-1.321c0.988-0.879,1.482-2.023,1.482-3.432v-2.581l-2.639,0.118c-3.773,0.135-5.66,1.524-5.66,4.166
		C371.071,554.304,372.155,555.323,374.323,555.323z M524.321,452.602H94.637v155.502l384.49-0.047L524.321,452.602z"/>
	<g>
		<path fill="#FFFFFF" d="M132.653,188.191l-4.986-18.991H94.743l-5.129,18.991H59.536L92.596,86.448h36.523l33.477,101.744H132.653
			z M121.981,146.745l-4.367-16.634c-1.016-3.695-2.25-8.479-3.707-14.348c-1.455-5.867-2.414-10.071-2.877-12.612
			c-0.414,2.355-1.236,6.237-2.459,11.643c-1.227,5.406-3.941,16.057-8.145,31.951H121.981z"/>
		<path fill="#FFFFFF" d="M173.546,188.191V86.863h27.377v79.22h39.02v22.109H173.546z"/>
		<path fill="#FFFFFF" d="M201.13,196.732h30.633l-33.197,101.327h-32.23L133.28,196.732h30.771l13.791,51.356
			c2.865,11.413,4.438,19.361,4.713,23.842c0.322-3.234,0.971-7.277,1.941-12.129c0.971-4.851,1.824-8.664,2.564-11.436
			L201.13,196.732z"/>
		<path fill="#FFFFFF" d="M302.872,298.059h-60.156V196.732h60.156v21.971h-32.781v15.94h30.357v21.971h-30.357v19.128h32.781
			V298.059z"/>
		<path fill="#FFFFFF" d="M193.368,355.115c0,16.911-4.654,29.939-13.967,39.089c-9.313,9.15-22.396,13.724-39.262,13.724h-32.783
			V306.599h35.07c16.264,0,28.82,4.159,37.67,12.476C188.942,327.392,193.368,339.406,193.368,355.115z M164.952,356.085
			c0-9.287-1.836-16.171-5.512-20.653c-3.672-4.481-9.25-6.723-16.734-6.723h-7.973v56.763h6.1c8.316,0,14.416-2.415,18.297-7.243
			S164.952,366.019,164.952,356.085z"/>
		<path fill="#FFFFFF" d="M266.596,407.927l-4.988-18.991h-32.922l-5.127,18.991h-30.082l33.061-101.742h36.523l33.477,101.742
			H266.596z M255.925,366.481l-4.365-16.635c-1.018-3.694-2.254-8.477-3.709-14.346c-1.455-5.867-2.412-10.072-2.877-12.613
			c-0.414,2.355-1.236,6.238-2.459,11.643c-1.225,5.406-3.939,16.059-8.143,31.951H255.925z"/>
	</g>
	
		<rect x="-0.484" y="0.109" fill="none" stroke="#FFFFFF" stroke-width="7.8628" stroke-miterlimit="10" width="332.613" height="438.978"/>
</g>
<g id="o_nas">
	<rect x="268.601" y="623.06" fill="#E71D73" width="206.787" height="68.967"/>
	<g>
		<g>
			<path fill="#FFFFFF" d="M318.357,658.168c0,4.734-1.161,8.333-3.483,10.796s-5.721,3.694-10.198,3.694
				c-4.413,0-7.797-1.237-10.151-3.714c-2.354-2.476-3.53-6.081-3.53-10.814c0-4.683,1.171-8.258,3.512-10.728
				s5.744-3.705,10.208-3.705c4.477,0,7.871,1.226,10.18,3.676S318.357,653.422,318.357,658.168z M298.999,658.168
				c0,5.439,1.893,8.159,5.677,8.159c1.925,0,3.351-0.66,4.281-1.981s1.396-3.381,1.396-6.178c0-2.809-0.472-4.884-1.414-6.225
				c-0.943-1.341-2.352-2.011-4.225-2.011C300.903,649.933,298.999,652.678,298.999,658.168z"/>
			<path fill="#FFFFFF" d="M346.991,672.274v-11.893c0-1.449-0.209-2.543-0.626-3.28s-1.087-1.106-2.011-1.106
				c-1.27,0-2.188,0.507-2.752,1.52c-0.564,1.014-0.847,2.752-0.847,5.215v9.545h-7.524v-21.802h5.678l0.942,2.693h0.442
				c0.642-1.026,1.53-1.796,2.666-2.309c1.135-0.514,2.439-0.771,3.916-0.771c2.411,0,4.287,0.7,5.628,2.098
				c1.341,1.398,2.011,3.368,2.011,5.908v14.182H346.991z"/>
			<path fill="#FFFFFF" d="M373.854,672.274l-1.443-2.887h-0.154c-1.014,1.258-2.047,2.117-3.098,2.579
				c-1.053,0.462-2.412,0.692-4.08,0.692c-2.053,0-3.669-0.615-4.85-1.848c-1.18-1.231-1.77-2.963-1.77-5.195
				c0-2.321,0.809-4.051,2.424-5.186c1.617-1.136,3.958-1.773,7.023-1.915l3.638-0.115v-0.308c0-1.796-0.886-2.694-2.655-2.694
				c-1.592,0-3.611,0.539-6.063,1.616l-2.174-4.965c2.54-1.309,5.747-1.963,9.621-1.963c2.797,0,4.962,0.693,6.494,2.079
				c1.533,1.385,2.301,3.322,2.301,5.811v14.298H373.854z M365.387,648.393v-0.558c1.975-2.117,3.229-3.483,3.762-4.099
				c0.531-0.616,0.971-1.167,1.318-1.655h8.235v0.404c-1.026,0.821-2.438,1.866-4.233,3.137c-1.797,1.27-3.156,2.193-4.08,2.771
				H365.387z M368.273,667.348c0.911,0,1.69-0.289,2.338-0.866s0.972-1.328,0.972-2.252v-1.693l-1.731,0.077
				c-2.476,0.09-3.714,1.001-3.714,2.732C366.137,666.681,366.849,667.348,368.273,667.348z"/>
			<path fill="#FFFFFF" d="M401.024,665.577c0,2.335-0.795,4.099-2.386,5.292c-1.591,1.192-3.874,1.789-6.851,1.789
				c-1.616,0-3.021-0.087-4.215-0.26c-1.192-0.173-2.411-0.49-3.655-0.952v-6.023c1.167,0.514,2.446,0.937,3.839,1.271
				c1.392,0.333,2.633,0.5,3.723,0.5c1.63,0,2.444-0.372,2.444-1.116c0-0.385-0.228-0.728-0.683-1.029s-1.78-0.889-3.975-1.761
				c-2-0.821-3.398-1.754-4.194-2.8s-1.192-2.37-1.192-3.974c0-2.027,0.781-3.604,2.348-4.734c1.564-1.128,3.777-1.693,6.639-1.693
				c1.436,0,2.787,0.157,4.051,0.472c1.263,0.314,2.574,0.773,3.935,1.376l-2.04,4.85c-1-0.449-2.059-0.831-3.175-1.146
				c-1.116-0.313-2.027-0.472-2.732-0.472c-1.231,0-1.848,0.302-1.848,0.905c0,0.372,0.215,0.689,0.646,0.952
				c0.43,0.263,1.67,0.799,3.723,1.606c1.527,0.629,2.666,1.245,3.416,1.848c0.75,0.604,1.302,1.312,1.654,2.126
				C400.848,663.419,401.024,664.41,401.024,665.577z"/>
		</g>
	</g>
	<g>
		<path fill="#FFFFFF" d="M451.597,658.319l-17.18-11.958v-5.062l23.871,17.02l-23.871,17.019v-5.061L451.597,658.319z"/>
	</g>
</g>
</svg>