<div class="off-canvas-wrapper">

  <!-- Off canvas navigace -->
  <div id="offCanvas" class="off-canvas position-right" data-off-canvas data-closable="">
  </div>

  <!-- Hlavní obsah stránky -->
  <div class="off-canvas-content" data-off-canvas-content>

    {{> main-menu }}
    <!-- Začátek vlastních sekcí -->
    <div class="sections-container">

      {{> section-intro-orbit}}
      {{> section-intro-presentation}}
      {{> section-events}}
      {{> section-projects}}
      {{> section-services}}
      {{> section-values}}
      {{> section-photos}}
      {{> section-video}}
      {{> section-logos}}
      {{> section-people}}
      {{> section-contact}}

    </div>
</div>