<div class="section section-half grid-container full">
    <div class="grid-x grid-padding-x grid-padding-y align-center align-stretch section-full-height rtl">

        <div class="cell small-12 medium-6 vertical-align-center">
            <div class="vertical-wrapper padding-base-horizontal">
                    cell 1
            </div>
        </div>

        <div class="cell small-12 medium-6">cell 2<br>Zlo</div>

    </div>
</div>