<div class="section section-half grid-container full">
        <div id="projects" class="grid-x align-center section-full-height ltr expandable-holder">
    
            <div class="expandable-off-holder cell small-12 medium-6 ">
                <div class="inactive-content vertical-wrapper padding-base-horizontal">
                    <h2>Vlastní projekty<small>Máme několik svých projektů</small></h2>
                    <p>Kromě akcí na klíč pořádáme i naše Lorem i psům. Kitkat kočkám. </p>
                    
                    <!-- Seznam projektů pro roklikávání na desktopu -->
                    <ul class="inline-triggers">
                            {{#each expandable }}
                            <li class="expandable-trigger project-trigger" data-index="{{ this.index }}" >{{this.name}}</li>
                            {{/each}}
                    </ul>

                    
                </div>
                
                <!-- Detaily pro rozkliknutí na desktopu -->
                {{#each expandable }}
                <div class="active-content moveable vertical-wrapper padding-base background-{{this.bg}} color-{{this.color}}" data-index="{{this.index}}">
                    {{this.expanding-content}}
                </div>
                {{/each}}

                <!-- Accordion s projekty pro zobrazení na mobilu -->
                <ul class="accordion hide-for-medium" data-accordion>
                        {{#each expandable }}
                        <li class="accordion-item" data-accordion-item>
                            
                            <a href="#" class="accordion-title background-{{this.bg}}-accordion color-{{this.color}}-accordion text-center">{{ this.name }}</a>
                          
                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content background-{{this.bg}} color-{{this.color}}" data-tab-content>
                                {{this.expanding-content}}
                            </div>
                        </li>
                        {{/each}}
                        
                    </ul>

                
            </div>
    
            <div class="cell small-12 medium-6 stretch-vertical grid-container full">
                
                <div class="grid-x align-stretch align-left desks-list">

                    {{#each expandable}}
                    <div class="cell small-12 mobile-6 interactive-desk expandable-trigger project-trigger" data-index="{{ this.index }}">
                        <div class="inactive-content padding-base-horizontal">{{this.name}}</div>
                        <div class="active-content padding-base-horizontal background-{{ this.bg }} color-{{this.color}}"> {{this.name}} aktivní </div>
                    </div>
                    {{/each}}

                </div>
            
            </div>
    
        </div>
    </div>