<header sticky-container>

    <!-- Top bar -->
    <div id="titlebar" class="title-bar hide-for-large"  data-sticky data-sticky-on="small" data-options="marginTop:0;" data-state="collapsed">
        <div class="title-bar-title">
            <img class="" src="{{ root }}/assets/img/logos/alveda/alveda_logo_topbar.svg" class="padding-quarter-right"> 
        </div>
        <div id="pseudoTrigger" class="menu-holder align-right button-holder">
            <button id="hamburger" class="menu-icon" type="button" ></button>
        </div>
        <nav class="pseudocordion">
            <ul class="pseudocordion-menu" data-magellan data-offset="80">
                {{#each navigation }}
                <li><a href="#{{this.url}}">{{ this.name }}</a></li>
                {{/each}}
            </ul>
        </nav>
    </div>

    <!-- Hlavní navigace -->
    <div id="responsive-menu" class="top-bar show-for-large" data-sticky data-options="marginTop:0;" style="width:100%" >
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><img class="main-logo position-absolute" src="{{ root }}/assets/img/logos/alveda/alveda_logo_topbar.svg" class="padding-quarter-right"></li>
            </ul>
        </div>
        <nav class="top-bar-right">
            <ul class="menu"  data-magellan data-offset="80">
                {{#each navigation}}
                <li><a href="#{{this.url}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </div>
</header>