

    <!-- Close button -->
    <button class="close-button" aria-label="Zavřít navigaci" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

<div class="padding-quarter-horizontal">
    <!-- Menu -->
    <ul class="vertical menu offcanvas-menu">
        {{#each navigation}}
        <li class="text-center"><a href="#{{this.url}}" data-target="{{this.url}}" style="font-weight:bold">{{this.name}}</a></li>
        {{/each}}
    </ul>

</div>

