{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <title>ALVEDA - Produkční agentura</title>
    <meta name="description" content="Jsme produkční a eventová agentura. Naše akce se nesou v duchu dobré nálady, smysluplné koncepce a kvalitního zpracování. Smysl vidíme v podpoře dobré mezilidské komunikace. Pomůžeme Vám a Vašim hostům prožít příběh, který vás spojí.">
    
    <!-- Favicona a obrázek -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{root}}/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{root}}/assets/img/favicon/safari-pinned-tab.svg" color="#ff0096">
    <link rel="shortcut icon" href="{{root}}/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{root}}/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styly -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css?v=3">

  </head>
<body>

{{> body}}

<script src="{{root}}assets/js/app.js?v=2"></script>
</body>
</html>
